.image-list {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}

.image-list img {
  height: 50rem;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

@media (max-width: 36.5em) {
  .image-list img {
    height: auto;
  }
}
